<body>
 <div class="jumbotron">
     <img src="/designs/themes/sub-ceao/images/logo2.png" alt="" id="logo">
     <img src="/designs/themes/sub-ceao/images/nome5.png" id="fonte"alt="">
     
     <div id="tarja2"></div>
     
     
     
</div>
<!-- <div class="nav">
    <ul id="menu">
      <li><%= link_to "Início", "#{top_url}/#{profile.identifier}/"%></li>
         <li><%= link_to "CEAO", "#{top_url}/#{profile.identifier}/ceao"%></li>
         <li><%= link_to "Outros Projetos", "#{top_url}/#{profile.identifier}/projetos"%></li>
          <li><%= link_to "Sobre", "#{top_url}/#{profile.identifier}/sobre"%></li>
    </ul>    
 </div>
 --></body>
