.box-2, .box-3, .box-4
  font-family: "Liberation Sans Narrow", "Arial Narrow"
  font-size: 13px

.block
  @extend %glass
  .block-title
    border: none
    color: #000
    font-size: 16px
    font-variant: normal
    padding-left: 5px
  .block-inner-1
    padding: 5px
  a
    color: #000
  a:visited
    color: #000

/// Profiles ///////////////////////////////////////////////////////////////////

#search-header
  border: none

.search-form #total-results
  color: rgba(0,0,0,.8)

#search-content
  .menu-submenu-list
    li
      width: 100%
      display: block
  li
    width: unset
    display: inline-block
  .search-profile-item > div
    margin-bottom: 3em
  .search-results-people .profile_link
    border-radius: 50%

#search-results .search-results-type-article ul
  float: right
//#search-results .article-item
//  clear: none

.common-profile-list-block
  .profile-image
    display: none
  .profile_link
    background-size: contain
    width: initial
    height: initial
    margin: 0 1px
    border-radius: 5px
    position: relative
    overflow: visible
    .org, .fn
      padding-top: 92px
  .menu-submenu-list li
    float: none
    &:hover
      border: none
      background: transparent

.action-search-index & .search-results-box
  background: #FFF
  border-radius: 10px
  margin: 4px

.communities-block, .friends-block, .members-block
  ul
    width: 198px
  .vcard
    padding: 4px 4px 20px 4px !important
    .profile_link
      font-size: 100%
      line-height: 90%
      margin-top: unset !important
      width: 56px
      height: 56px
      .org, .fn
        margin-top: unset !important
        padding-top: 27px
  .block-footer-content a.view-all
    position: absolute
    top: 8px
    right: 8px
    text-decoration: none
    background: transparent

.friends-block, .members-block
  .profile_link
    border-radius: 50%

/// profile image //////////////////////////////////////////////////////////////

.profile-image-block
  @extend %no-glass
  .profile-big-image, .vcard>p
    display: none
  .admin-link a
    font-size: 16px
    color: #FFF

/// Links //////////////////////////////////////////////////////////////////////

.link-list-block
  @extend %no-glass
  li
    background: transparent
    a
      background-color: #B3B3B3
      color: #000
      border-radius: 4px
      background-position: 5px 50%
      padding-left: 26px
      box-shadow: 0 0 7px #000
      &:hover
        background-color: #FFF
        color: #000
        box-shadow: 0 0 7px #FFF
    a.link-this-page
      background-color: #226
      color: #FFF
      border-radius: 4px
      border: none
      &:hover
        border: none
        box-shadow: 0 0 7px #000

/// Recent Content /////////////////////////////////////////////////////////////

.recent-documents-block
  overflow: visible

/// 2.0 Fixes //////////////////////////////////////////////////////////////////

/// resultados de buscas exibem só 1 coluna com resultados
.only-one-result-box
  display: inline-block

/// reparos na seção busca de conteúdo
.search-content-first-column
  width: auto
  min-height: 98px
  float: left

.search-content-second-column
  width: auto
  display: table
  word-break: break-word
  text-align: justify
  padding-left: 10px

.search-content-second-column 
  .search-field-label
    margin-bottom: 5px
    font-size: 10px
    font-weight: bold
    text-transform: uppercase
    width: 110px
    display: inline-block
    height: auto
    border: none

.search-content-second-column
  > div
    display: inline-flex
    width: 100%

#search-content #search-results .menu-submenu-list li
  min-height: unset 
 
#search-content #search-results li
  min-height: 98px

#search-results .search-results-articles ul li.article-item
  h2
    margin-block-start: unset
    margin-block-end: unset

#search-results .search-results-articles ul li.article-item .search-content-first-column .search-image-container>*:not(empty)
  padding-right: 0px

#content .map-or-list-search-results .list .only-one-result-box
  width: 100%
