.controller-admin_panel &, .controller-features &, .controller-plugins &,
.controller-role &, .controller-users &, .controller-organizations &,
.controller-templates &, .controller-kinds &, .controller-profile_quotas &,
.controller-region_validators &, .controller-categories &, .controller-licenses &,
.controller-environment_themes &, .controller-trusted_sites &, .controller-captcha &
  margin-top: 80px
  .main-block
    padding: 10px
    .main-content
      padding: 0.5em 1em
      background-color: #FFF

.controller-account &
  margin-top: 80px
  #signup-form
    padding: 0.5em 3em
    background-color: #FFF
    border-radius: 10px
    #signup-form-header
      margin: 0

.controller-search &
  margin-top: 80px

.main-block h1, #not-found h1, #access-denied h1, .no-boxes h1
  border: none
  color: #000
  font-variant: normal
  text-shadow: 0 0 6px #FFF

@import "blocks"

.main-block .main-content
  padding: 5px

.no-boxes
  padding: 15px
  margin: 30px 0 0 0
  .main-content
    padding: 0
  @extend %glass

#article-header
  .publishing-info
    color: #000

#article
  #article-actions
    font-family: "Liberation Sans Narrow", "Arial Narrow"
  .article-body
    padding: 5px 10px
    background: #FFF
    border-radius: 10px
  .blog-post
    background: transparent

#search-column-left
  background: rgba(255,255,255,0.6)
  border-radius: 10px
  border: none

@import "events"
