#theme-header header
  position: fixed
  top: 0
  left: 0
  width: 100%
  filter: drop-shadow(0 2px 8px #000)
  z-index: 10
  h1
    position: relative
    top: 0
    left: 0
    margin: 0
    width: 100%
    filter: drop-shadow(0 3px 5px rgba(0,0,0,0.5))
    z-index: 11
    div
      margin: auto
      width: 960px
      height: 0
      a
        display: block
        width: 200px
        height: 50px
        background: url(images/logo-noosfero-ufba.svg) 50% 50% no-repeat
        background-size: contain
        font-size: 1px
        color: transparent
        position: relative
        @media screen and (max-width: 960px)
          left: 20px

#top-menu
  border-bottom: 3px solid #B3B3B3
  #top-menu-content
    max-width: 840px
    padding-right: 120px

#top-busca
  position: fixed
  top: 0
  left: 0
  margin: 0
  width: 100%
  z-index: 11
  div
    margin: auto
    max-width: 960px
    height: 0
    position: relative
    input
      position: absolute
      top: 6px
      right: 0
      display: block
      width: 100px
      line-height: 16px
      text-align: left
      text-indent: 20px
      color: #226
      background: #FFF url(images/lupa.svg) 2px 2px no-repeat
      background-size: 14px 14px
      border: none
      border-radius: 3px
