#box-organizer .block .button-bar-boxes
  background: transparent

#block-store
  padding: 0 7px 1px 7px
  @extend %glass
  #block-store-filter
    margin: 3px 30px
    border: none
    border-radius: 3px
    padding: 0 2px
  #block-types
    margin-bottom: 25px
    padding: 5px 10px 0 10px
    @extend %box-over-glass
    .slick-prev
      left: -3px
    .slick-next
      right: 3px
    .slick-prev, .slick-next
      &::before
        opacity: 1
      &.slick-disabled::before
        opacity: 0.5
    .slick-dots
      bottom: -24px
      margin: 0
