@import url(../noosfero/style.css);

@font-face {
  font-family: 'Barbara';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/BarbaraTostes.ttf') format('truetype');
}

body {
  font-family: "Liberation Sans", Arial, sans-serif;
  font-size: 14px;
  transition: 1s;
}


@import "styles/footer.scss";

.article-comments-list {
  li.comment-container {
    padding: 10px;
    border-radius: 4px;
  }
}

#profile-seach {
  .formfield {
    .button {
      bottom: 0.2em;
    }
  }
}

.search-field {
  .formfield {
    width: 70%;
  }
}

ul#assets-menu {
  li.selected a {
      color: inherit;
      border-bottom: 2px solid #555753;
    }
}

input {
  &[type="text"] {
    background-color: white;
  }
}

%glass {
  background-position: 50% 100%;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.7);
  border-radius: 15px;
}

%no-glass {
  background: transparent;
  box-shadow: none;
}

%box-over-glass {
  border-radius: 6px;
  border: none;
  background: rgba(255,255,255,0.6);
  //box-shadow: 0 0 10px 7px rgba(255, 255, 255, 0.6);
}

#theme-header {
  height: 250px;
  .jumbotron{
    background-image: url('/designs/themes/colabora-ceao/images/CEAObanner.jpg');
    height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#user, #navigation {
  display: none;
}

#profile-ufba-header {
  @import "styles/profile-ufba-header";
}

#wrap-1 {
  width: auto;
}

#wrap-2 {
  width: 100%;
  margin: auto;
  border: none;
}

.main-content {
  border: none;
  box-shadow: none;
  padding: 0 20px 0 0;
}

#wrap-2 {
  background: transparent;
  padding: 0;
}

#content {
  @import "styles/content";
  .block {
    padding: 5px;
  }
  .link-list-block {
    li:hover {
      background-color: transparent;
    }
  }
  .menu-submenu {
    bottom: 60px;
  }
}

#footer, #theme-footer {
  font-size: 1em;
  width: auto;
  h2 {
    color: #FFF;
  }
}
#noosfero-footer-info {
  font-family: "Liberation Sans Narrow", Arial, sans-serif;
  font-size: 0.8em;
}

/// Specific Definitions ///////////////////////////////////////////////////////

body.action-home-index {
  @import "styles/home";
}

body.controller-profile { @import "styles/controller/profile" }
body.controller-search { @import "styles/controller/search" }
body.controller-tasks { @import "styles/controller/tasks" }
body.controller-profile_design { @import "styles/controller/profile-design" }
body.controller-profile_editor { @import "styles/controller/profile-editor" }


/// 2.0 Fixes //////////////////////////////////////////////////////////////////

#content .only-one-result-box {
  width: 100%;
}

#search-results .search-results-people, .search-results-communities, .search-results-enterprises {
  ul {
    text-align: justify;
  }
}

#search-results {
  .search-results-enterprises {
    li {
      margin-bottom: 2em;
    }
  }
}
#signup-form .button-bar {
  justify-content: center;
}

.login-box .formlabel[for="user_password"] {
  text-transform: capitalize;
}

.login-box input[type="password"] {
  background: white;
}

.profile-activities li {
  border-radius: 5px;
}

.profile-activities li .profile-activity-description ul.scrap-replies li {
  background: lightgrey;
}

.ui-tabs li.tab.ui-state-default a, .ui-tabs-nav li.tab.ui-state-default a {
  color: grey !important;
}

#content .profile-image-block .admin-link a {
  font-size: 17px;
}

#profile-wall, #profile-network, #person-profile {
  background: white;
  border-radius: 0px 0px 5px 5px;
  padding: 1em 1.4em !important;
}

.ui-tabs .ui-tabs-nav {
  background: #ddd !important;
  border-radius: 5px 5px 0px 0px !important;
  padding-left: 1px !important;
}

#content .main-block .main-content {
  padding-bottom: 10px;
}

#profile-ufba-header h1 {
  color: white;
}

.recent-documents-block li {
  font-size: 14px;
}

#content .link-list-block li, #content .profile-info-options li {
  border-bottom: unset;
}

#content {
  .profile-info-options {
    li {
      &:hover {
        background-color: unset;
      }
      a {
        background-color: #A1A1FF;
        border-radius: 4px;
	box-shadow: 0 0 7px #000000;
        &:hover {
          box-shadow: 0 0 7px #FFFFFF;
          background-color: #FFFFFF;
        }
      }
    }
  }
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
  background: white;
  cursor: pointer;
}

.profile {
  padding: unset;
}

/* #content .block[id="block-554"] {
  height: 225px;
} */

#content .block .common-profile-list-block.vcard {
  height: 59px;
  width: 58px;
  min-width: unset;
  margin: 3px;
  margin-bottom: 30px;
}

#content .block ul.common-profile-list-block {
  justify-content: center;
  display: block;
  width: 198px;
}

#content .block .common-profile-list-block.vcard .profile_link {
  padding-bottom: unset;
}

#content .block .common-profile-list-block.vcard .profile_link span.org {
  margin-top: 8px !important;
}

#content .communities-block .vcard .profile_link, #content .friends-block .vcard .profile_link, #content .members-block .vcard .profile_link {
  max-width: 56px;
  max-height: 56px;
}

#content .communities-block .vcard, #content .friends-block .vcard, #content .members-block .vcard {
  margin-bottom: unset;
  padding: unset !important;
}

#content .communities-block .vcard .profile_link .org {
  margin-top: unset;
  padding-top: unset;
}


///

#search-content .search-results-people, .search-results-communities, .search-results-enterprises, {
  .profile_link {
    margin-top: unset !important;
    margin-bottom: 2em;
    width: 92px;
    height: 92px;
  }
}

#search-content .search-profile-item>div {
  margin-bottom: unset;
  height: 95px;
}

.common-profile-list-block span {
  width: auto;
}

#content .common-profile-list-block .profile_link .org, #content .common-profile-list-block .profile_link .fn {
  padding-top: 73px;
}

#content .common-profile-list-block .profile_link {
  width: 92px;
  height: 92px;
}

/* #content .block[id="block-26"]{
  height: 225px;
} */

#content div.path-to-parents {
  border-top: 1px solid;
}

a.button, #wrap-2 a.button {
  border: 0.063em solid slategrey;
}

body.controller-search #bt-new-cmm {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  height: 22px;
  width: 174px;
  text-align: center;
  padding-top: 5px;
  &:hover{
    background-color: #449d44;
    transition: 0.4s;
  }
  &:before{
    content: "\f067";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 4px;
  }
}

a.button.btn-green:hover, a.button.icon-search:hover, a.button.icon-plus:hover, a.button.icon-toggle-on:hover, #wrap-2 a.button.btn-green:hover, #wrap-2 a.button.icon-search:hover, #wrap-2 a.button.icon-plus:hover, #wrap-2 a.button.icon-toggle-on:hover {
  transition: 0.4s;
}

#content .profile-info-options li a {
    background-color: #B3B3B3;
    color: #000;
    border-radius: 4px;
    background-position: 5px 50%;
    box-shadow: 0 0 7px #000;
    padding: unset;
    padding-inline-start: 26px;
}

.communities-block {
    padding-bottom: 10px !important;
}


/// botões ///

a.button, #wrap-2 a.button {
  background: #346392;
  color: #fff !important;
  padding-left: 10px;
}

a.button:hover, #wrap-2 a.button:hover {
    background-color: #27496d;
}

#article-cat .categories-cloud a{
  color: #fff !important;
  border: #212d3c solid 1px;
}

.event-invitations .invitations-container#current-invitation {
  background: #33333333;
}

table.cms-articles thead tr th {
  padding: unset;
}

.controller-cms {
  td.article-name {
    padding-left: 15px;
  }
  #fetch-external-feed {
    width: unset;
  }
}

ul.publish-targets {
  > li {
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.7);
    border-radius: 15px;
    padding: 15px 20px 10px 20px;
  }
  ul.token-input-list {
    background-color: unset;
  }
}

.formfieldline {
    margin-bottom: unset;
}

#content .profile-info-options .circles a:hover {
  background-color: #27496d;
}

#circles-container {
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.7);
}

#new-circle-form {
  input {
    width: 100%;
  }
  .button-bar {
    margin: 10px 0px auto;
    width: 100%;
    display: inline-block;
    text-align: center;
    .button {
      width: 45%;
      padding: 0px;
      font-size: 12px;
      i {
        margin-right: 0px;
      }
    }
  }
}

.slick-slider .slick-list {
  width: 100%;
  margin-inline-start: 20px;
  padding-inline-start: 5px;
  padding-inline-end: 5px;
}

h1 {
  color: fefefe;
}

.controller-profile_design #block-store #block-store-filter {
  margin: 3px 50px;
}

#content .block {
  padding: 10px;
}

table.actions td:last-child {
  border-radius: 5px;
}

div#category-ajax-selector #select-categories .toplevel-categories a.select-subcategory-link {
border: slategrey solid 1px;
}

#wrap-2 a.button.btn-blue, #wrap-2 a.button.icon-new, #wrap-2 a.button.icon-save, #wrap-2 a.button.icon-upload, #wrap-2 a.button.icon-login, #wrap-2 a.button.icon-ok {
  border: 0.063em solid slategrey;
}

.boxes .box-2 > .blocks {
  max-width: 220px;
}

.invite_by_name form ul.token-input-list {
  background-color: unset;
  li {
    border-radius: 5px;
  }
}

#content .box-1 .block .common-profile-list-block {
  .profile_link .org {
    padding-top: 25px;
  }
  &.vcard {
    height: 100px;
    margin: 13px 0px 0px 10px;
    .profile_link {
      margin-top: unset !important;
      padding-top: 5px;
    }
  }
}

#groups-list li .profile-details {
    padding: 3% 10px 0px 25px;
}

a.button.without-text, #wrap-2 a.button.without-text {
  color: #020202c2 !important;
}

a.button.without-text:hover, #wrap-2 a.button.without-text:hover {
    color: #fff !important;
    background-color: #333 !important;
}

tr:hover {
  :first-child {
    border-radius: 5px 0px 0px 5px;
  }
  :last-child {
    border-radius: 0px 5px 5px 0px;
  }
}

.no-boxes input[type=text], .no-boxes input[type=password] {
    background-color: white;
}


table.cms-articles td:nth-child(2), table.cms-articles th:nth-child(2) {
  display: none;
}

table.cms-articles tr {
  height: 50px;
}

#content {
  .link-list-block {
    .link-list-items .community, .enterprise {
      font-size: 13px;
      > i {
        font-size: 1.1em;
      }
    }
  }
  .profile-image-block .profile-info-options a.leave-community {
      font-size: 13px;
      > i {
        font-size: 1.2em;
      }
  }
  .common-profile-list-block {
    ul {
      display: inline-block;
    }
    .pagination {
      padding: unset;
    }
  }
  .box-1 .block .common-profile-list-block.vcard {
    margin: 0px;
    margin-bottom: 50px;
    width: 85px;
    height: 85px;
    padding: 0px;
    margin-left: 10px;
    a.profile_link {
      width: 75px;
      height: 75px;
      span.org {
        padding-top: 8px;
      }
    }
  }
}

.boxes {
  .box-1 {
    width: 100%;
    margin: auto;
  }
  .box-2 {
    margin-right: unset;
  }
  .box-3 {
    margin-left: unset;
  }
}

.text-editor-sidebar {
    margin-top: 5em;
    right: unset;
    width: 340px;
    margin-left: 560px;
    max-height: 65px;
}

.event-invitations .invitations-container i.fa {
    width: unset;
}

#content .common-profile-list-block .vcard .menu-submenu h4, #content .comment-actions .menu-submenu h4 {
    padding: 5px;
    border-radius: 5px;
}

.link-list-block{
  min-height: 25px;
}

.block{
  .link-list-block{
    .ui-draggable{
      min-height: 30px;
    }
  }
}
#footer{
  height: 145px;
  text-align: right;
  color: #fff;
  background-image: url('/designs/themes/colabora-ceao/images/tarja.png');
  background-position: top;
  #theme-footer{
    padding: 2% 2% 0 0;
    color: #fff;
    width: 48%;
    float: right;
    background-color: #000000b3;
    margin-top: 2%;
    margin-right: 1%;
    color: #fefefe;
    a{
      color: #fff;
    }
  }
}
